.create  {
width: 640px;
height: 170px;
margin:100px auto 0px auto;
}

.preview a {
float: right;
width: 70px;
height: 25px;
line-height: 25px;
font-family: verdana;
font-weight: bold;
text-align: center;
color: #000;
background-color: #157C80;
margin:5px
}

.preview a:hover {
float: right;
width: 70px;
height: 25px;
line-height: 25px;
font-family: verdana;
font-weight: bold;
text-align: center;
color: #000;
background-color: #ffffff;
margin:5px
}

.delete a {
float: right;
width: 70px;
height: 25px;
line-height: 25px;
font-family: verdana;
font-weight: bold;
text-align: center;
color: #000;
background-color: #157C80;
margin:5px
}

.delete a:hover {
float: right;
width: 70px;
height: 25px;
line-height: 25px;
font-family: verdana;
font-weight: bold;
text-align: center;
color: #000;
background-color: #ffffff;
margin:5px
}

.button_create a {
float: left;
width: 300px;
height: 150px;
font-family: verdana;
font-size: 60px;
font-weight: bold;
text-align: center;
color: #000;
line-height: 150px;
background-color: #157C80;
margin:5px
}

.button_create a:hover {
float: left;
width: 300px;
height: 150px;
font-family: verdana;
font-weight: bold;
text-align: center;
color: #000;
line-height: 150px;
background-color: #ffffff;
margin:5px
}