*{
margin: 0px;
padding: 0px;
}

a {
text-decoration: none;
}

#about {
font-size: 16px;
font-family: verdana;
}

.wrapper {
width: 960px;
min-height: 500px;
margin: 20px auto 0 auto;
}

.header {
height: 125px;
font-family: Sans-serif;
font-size: 40px;
font-weight: bold;
text-align: center;
line-height: 125px;
background-color: #3A5252;
}

.menu {
height: 30px;
background-color: #aaa;
}

.button a {
float: left;
width: 100px;
height: inherit;
font-family: verdana;
font-size: 15px;
font-weight: bold;
text-align: center;
color: #000;
line-height: 30px;
}

.button a:hover{
float: left;
width: 100px;
height: inherit;
font-family: verdana;
font-weight: bold;
text-align: center;
color: #000;
line-height: 30px;
background-color: #ffffff;
}

.mainbody {
min-height: 350px;
font-family: verdana;
font-size: 12px;
background-color: #8AA5A6;
margin: 0px 0px 0px 0px;
padding: 25px 25px 50px 50px;
}

.footer {
height: 25px;
line-height: 25px;
background-color: #aaa;
text-align: center;
}

