fieldset {
    border: solid 1px #000;
	min-width:300px;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}

legend {
    padding:0px 10px;
    background:black;
    color:#FFF;
}

.error {
	border: 1px solid #f00;
}

.array_answers {
	width: 105px;
}