<div class="menu">
	<div class="button"><a href="index.php?page=about">About</a></div>
	<div class="button"><a href="index.php?page=create">Create</a></div>
	<div class="button"><a href="index.php?page=surveys">Surveys</a></div>
	<div class="button"><a href="index.php?page=polls">Polls</a></div>
</div>